<div class="card">
  <div class="card-content">
    <div class="card-title">Video Details</div>
    <div class="row">
      <div class="col s12">
        <label for="videoTitle">Title</label>
        <input id="videoTitle" type="text" [formControl]="title" />
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label for="videoAuthor">Author</label>
        <input id="videoAuthor" type="text" [formControl]="author" />
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn">Save</button>
      </div>
    </div>
  </div>
</div>